.navi .logo h1{
   font-weight: 700;
   font-size: 25px;
   margin-top: 10px;
   margin-left: 20px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.light{
    background-color: white;
    color: black;
}
.navi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: white;
    column-gap: 220px;
}

.navi .item {
    display: flex;
    column-gap: 20px;
}

.navi .btn {
    display: flex;
    column-gap: 20px;
}

.navi .btn button {
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0043ff8c;
    font-size: 13px;
}

.navi .btn .log-in {
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #0043ff8c;
    background-color: white;
    color: #0043ff8c;
}

.navi .item a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    cursor: pointer;
}
.navi .item .home-btn {
    color: #0043ff8c;
    font-weight: 700;
}

.setting{
    margin-left: 30px;
    margin-top: 11px;
}

.navi .setting div{
    width: 20px;
    height: 2.4px;
    border: 1px solid none;
    border-radius: 2px; 
    background-color: black;
    margin: 4px 0 3px 0;
}
.foot-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background: whitesmoke;
    height: 56px;
}

.foot-sec .item{
    display: flex;
    column-gap: 20px;
}
.foot-sec .logo h1{
    font-size: 35px;
    font-weight: 700;
    margin-top: 5px;
}
.copy p{
    color: black;
    margin-top: 10px;
}

.foot-sec .item a{
    text-decoration: none;
    color: black;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
#m-header{
    font-weight: bold;
    margin: 45px 0 30px 0;
    color: black;
}
#m-header2{
    color: blue;
    font-weight: bold;
    margin-left: 8px;
}
#secnd-form{
    margin-left: 98px;
}
.form-control{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 18px;
}
.form-part{
    margin-left: 145px;
    width: 1000px;
}
.form-semi{
    width: 300px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 38px;
    padding-left: 10px;
    margin:0%;
    font-size: 18px;
}
.btn-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.btn-msg button{
    border: 1px solid none;
    border-radius: 20px;
}
.main-section{
    background-image: url("img/contactus.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
    padding: 0;
    overflow: hidden;
    margin: 0;
    width: 100%;
}
.main-section .img{
    position: relative;
}
.head-off{
    font-weight: bold;
    color: blue;
}
.branch{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 260px;
    padding: 5px 0 0 25px;
}
.head-b{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 3rem 0;
}
.sub-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-header .head-off{
    color: black;
    margin-bottom: 24px;
}
.row-b{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.branch{
    box-shadow: 0 0 20px rgb(255, 255, 255);
    background-color: none;
}
.branch h5{
    margin: 5px 0 10px 0;
    color: black;
    font-weight: 700;
}
.branch p{
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.map-h{
    display: flex;
    justify-content: center;
    align-items: center;
}
.light .map-h h1{
    font-weight: 700;
    margin: 4px 0 8px 0;
    color: black;
}
.dark .map-h h1{
    color: white;
    font-weight: 700;
    margin: 4px 0 8px 0;
}
.map{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.map img{
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(124, 124, 124);
}
.container-f{
    padding: 0;
}
.container-f{
    background-color: rgb(255, 255, 255);
}
.dark .container-f{
    background-color: black;
}
