*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}
.logo h1{
    color: black;
}
.light .home {
    background-color: whitesmoke;
}
.dark .home {
    background-color:  rgb(21, 20, 20);
}

.light .home .right {
    background-image: linear-gradient(155deg, #a7ceff, #bfc9cb);
}
.dark .home .right {
    background-image: linear-gradient(155deg, #9498FF, #A2E9F7);
}

.light .home .left .btn input {
    background-color: #0043ff8c;
    color: black;
}

.dark .home .left .btn input {
    background-color: #0043ff8c;
    color: white;
}
.home .right img {
    filter: drop-shadow(20px 50px 25px #b3e3e3);
}

.light .loc-sec .main-sec {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.dark .loc-sec .main-sec {
    background-color: black;
    box-shadow: rgb(255, 255, 255) 0px 0px 30px;
}

.light .loc-sec .main-sec .pick label {
    color: black;
}
.dark .loc-sec .main-sec .pick label {
    color: white;
}

.loc-sec .main-sec .pick p {
    border: 1px solid darkgrey;
}

.light .loc-sec .main-sec .pick input {
    background-color: #0043ff8c;
    color: black;
}
.dark .loc-sec .main-sec .pick input {
    background-color: #0043ff8c;
    color: white;
}

.car-sec .btn input {
    border: 1px solid darkgray;
}
.light .car-sec .main-sec .box {
    border: 1px solid darkgray;
    background-color:rgb(239, 18, 18);
}
.dark .car-sec .main-sec .box {
    border: 1px solid darkgray;
    background-color: rgb(15, 15, 15);
}
.car-sec .main-sec .box .review p {
    color: darkgray;
}

.car-sec .main-sec .box .feature p i {
    color: #0043ff8c;
}

.car-sec .main-sec .box .price {
    border-top: 1px solid darkgray;
}


.light .car-sec .main-sec .box .price button {
    background-color: #0043ff8c;
    color: black;
}
.dark .car-sec .main-sec .box .price button {
    background-color: #0043ff8c;
    color: white;
}

.car-sec .txt .txt1 span {
    color: #0043ff8c;
}

.light .support-sec {
    background-color: whitesmoke;
}
.dark .support-sec {
    background-color:  rgb(21, 20, 20);
}

.support-sec .txt .txt1 span {
    color: #0043ff8c;
}

.support-sec .main-sec .box i {
    background: #0043ff8c;
    color: black;
}

.light .achie-sec {
    background-color: white;
}
.dark .achie-sec {
    background-color: black;
}

.achie-sec .txt .txt1 span {
    color: #0043ff8c;
}

.light .achie-sec .main-sec .box {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}
.dark .achie-sec .main-sec .box {
    background-color: black;
    box-shadow: rgb(255, 255, 255) 0px 0px 24px;
}

.light .start-sec {
    background-color: white;
}
.dark .start-sec {
    background-color: black;
}
.start-sec .main-sec {
    background-image: linear-gradient(45deg, #17c5be, #1c243a);
}

.start-sec .main-sec .left .btn button {
    background-color: white;
}

.light .start-sec .main-sec .right {
    background-image: linear-gradient(155deg, #a7ceff, #bfc9cb);
}
.dark .start-sec .main-sec .right {
    background-image: linear-gradient(155deg, #9498FF, #A2E9F7);
}

.start-sec .main-sec .right img {
    filter: drop-shadow(20px 50px 25px #b3e3e3);
}
