@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: linear-gradient(90deg, #7ce9ff, #6577ff);
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  span.head{
    margin-top: 0;
  }

  .back-a{
    height: 20px;
    width: 20px;
    transform: rotate(180deg);
}

.back{
  height: 35px;
  width: 35px;
  border: 3px solid black;
  border-radius: 50%;
  margin: 20px 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
  
  .head {
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-size: 55px;
    font-style: normal;
    color: #4170F4;
    text-align: center;
    flex-grow: 1; /* Allow the heading to grow and occupy available space */
    margin: 50px 0 0 0;
  }

  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin-top: 20px;
  }

  .user-img img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    box-shadow: 0px 0px 20px rgb(67, 67, 67);
    margin-bottom: 15px;
  }

  .username{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 20%;
    height: 40px;
    margin: 10px 10px 10px;
  }

  input{
    border: none;
    user-select: none;
    height: 90%;
    width: 90%;
    background-color: transparent;
    font-size: 18px;
    margin-left: 10px;
    transition: border-color 0.3s ease; /* Add transition for smooth effect */
  }
  
  /* Remove border when input is focused */
  input:focus {
    border-color: transparent; /* Set border color to transparent */
    outline: none; /* Remove default outline */
  }
.username input::placeholder{
  color: black;
  font-size: 20px;
}
  .bottom-password{
    display: flex;
    width: 100vw;
    justify-content: center;
    text-align: center;
    gap: 50px;
    color: #5F5F5F;
  }

  .checkbox{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 20px;
  }

  .forgotpass a{
    color: #5F5F5F;
    text-decoration: none;
  }

  .login{
    font-size: 20px;
    font-weight: bold;
    height: 42px;
    width: 140px;
    border-radius: 10px;
    border: 2px solid #000000;
    color: #000000;
    margin: 20px 0 8px 0;
    background-color: transparent;
    transition: border-color 0.5s ease, color 0.5s ease, background-color 0.5s ease; 
}

.login:hover{
    cursor: pointer;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.another-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}
hr{
  color: rgb(0, 0, 0);
  border-style: solid;
  width: 120px;
  margin: 0 10px 0 10px; 
}
#or-or{
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn77{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bolder;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid #000000;
    color: #000000;
    background-color: transparent;
    transition: border-color 0.5s ease, color 0.5s ease, background-color 0.5s ease; 
}

.btn77{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 300px;
  height: 40px;
  margin-top: 10px;
}
.btn77 img{
  width: 28px;
  height: 28px;
  margin: 0 7px;
}
